body {
    color: rgb(158, 29, 218);
    background: rgb(3, 74, 17);
    margin: 0px;
    font-family: "Dancing Script" , sans-serif;
    font-size: 30px;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(251, 249, 252);
}

section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: right;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 22px;
}